* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    max-width: fit-content;
}

img {
    border-radius: 50%;
    height: 40px;
}

.mock-tweet-img {
    border-radius: 0%;
    /* min-width: 50%; */
    height: 400px;    
    max-width: 100%;
    /* background-size: cover;  */
}

.comments, .retweets, .likes, .shares:hover {
    cursor: pointer;
}

.post-content {
    max-width: 100%;
}




