* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  --twitter-color: #50b7f5;
}

img {
  border-radius: 50%;
  height: 40px;
}

.mock-tweet-img {
  border-radius: 0%;
  height: 400px;
  max-width: 100%;
}

.comments,
.retweets,
.likes,
.shares,
.show,
img,
.twitter-feed:hover {
  cursor: pointer;
}

.post-content {
  max-width: 100%;
}
div > img#profile-pic {
  width: 50px !important;
}
#btn {
  width: 80px !important;
}

.container {
  color: rgb(0, 0, 0);
}

.content {
  color: rgb(255, 255, 255);
  background: #243447;
}

.followImage {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-size: contain;
}

.button {
  color: aliceblue;
  background-color: blaCK;
  border-radius: 55px;
  height: 30px;
  width: 80px;
}

.message {
  color: aliceblue;
  right: 5vw !important;
  left: auto !important;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px,
    rgba(255, 255, 255, 0.12) 0px -12px 30px,
    rgba(255, 255, 255, 0.12) 0px 4px 6px,
    rgba(255, 255, 255, 0.17) 0px 12px 13px,
    rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

.infoText {
  font-size: 15px !important;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption .material-symbols-outlined,
.fa-twitter {
  padding: 20px;
}

.sidebarOption:hover {
  background-color: var(--twitter-backround);
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebarOption.active {
  color: var(--twitter-color);
}

.sidebar__tweet {
  width: 30%;
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
}

.sidebar {
  border-right: 1px solid var(--twitter-backround);
  flex: 0.2;
  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.fa-twitter {
  color: var(--twitter-color);
  font-size: 30px;
}

@media (max-width: 991px) {
  .sidebarExplore {
    display: none;
  }
  .sidebarSearch {
    display: flex !important;
  }
}

@media (max-width: 767px) {
  .sidebarText {
    display: none;
  }
}
